{% extends 'layout.html' %}

{% block content %}
<h1>Register</h1>
<h4>Enter Student Information below</h4>
<!--Form to request user's name-->
<form action="/studentdetails" method="POST" target="">
    <label for="sname">Enter name:</label>
    <input type="text" name= "sname" id = "sname">
    <label for = "organization">Enter organization: </label>
    <select name="organization" id="organization">
        <option value="Student Top Rank"> Student top rank</option>
        <option value="Fight Club Pro"> Fight Club Pro</option>
        <option value="Flight Club"> Flight Club</option>
        <option value="Moustache Mountain"> Moustache Mountain</option>
        <option value="Cultural Club"> Cultural Club</option>

    </select>
    <input type="submit" value="Register">
</form>

{% endblock %}
